
@charset 'utf-8';
@import "home-slider.css";
html {
background: none repeat scroll 0 0 #FFFFFF;
}
@font-face {
font-family: 'dinpro-regularregular';
font-style: normal;
font-weight: normal;
src: url('fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dinpro-regular-webfont.woff') format('woff'), url('fonts/dinpro-regular-webfont.ttf') format('truetype'), url('fonts/dinpro-regular-webfont.svg#dinpro-regularregular') format('svg');
}
@font-face {
font-family: 'dinpromedium';
font-style: normal;
font-weight: normal;
src: url('fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dinpro-medium-webfont.woff') format('woff'), url('fonts/dinpro-medium-webfont.ttf') format('truetype'), url('fonts/dinpro-medium-webfont.svg#dinpromedium') format('svg');
}
@font-face {
font-family: 'dinprobold';
font-style: normal;
font-weight: normal;
src: url('fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dinpro-bold-webfont.woff') format('woff'), url('fonts/dinpro-bold-webfont.ttf') format('truetype'), url('fonts/dinpro-bold-webfont.svg#dinprobold') format('svg');
}
@font-face {
font-family: 'dinprolight';
font-style: normal;
font-weight: normal;
src: url('fonts/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dinpro-light-webfont.woff') format('woff'), url('fonts/dinpro-light-webfont.ttf') format('truetype'), url('fonts/dinpro-light-webfont.svg#dinprolight') format('svg');
}
body {
margin: 0;
padding: 0;
}
ul, li, h1, h2, h3, p {
list-style-type: none;
margin: 0;
padding: 0;
}
a, a:hover, img {
border: medium none;
}
h1, h2, h3, p {
margin: 0;
padding: 0;
}

/*Header Css Start*/

.fix{

float: left;

position: fixed;
top: 0;
width: 100%;
z-index: 100000;}

.scroll-header {
background-color: #EDEDED;
border-top: 4px solid #ED1C24;
box-shadow: 2px 2px 4px #AAAAAA;
float: left;
height: 265px;
position: relative;
width: 100%; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#wrapper {
margin: 0 auto;
width: 960px;
/*background: #f0f0f0;*/
}
#wrapper-border {
	float:left;
	width: 100%;
border-left: 1px solid #bcbec0;
	border-right: 1px solid #bcbec0;
	
}
#header-main {
float: left;
width: 100%; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links {
float: right;
width: auto;
}
#header-main #top-links nav {
}
#header-main #top-links nav ul {
position: relative;
top: -4px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul li {
float: left; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul #login-sign-up {
border-top: 8px solid #ED1C24;
color: #ED1C24;
float: left; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul #login-sign-up:hover {
border-top: 8px solid #ED1C24;
font-size: 16px;
font-weight: bold; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul #login-sign-up:hover a {
font-size: 16px;
font-weight: bold; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul #login-sign-up a {
color: #ED1C24;
font-family: 'dinpromedium';
font-size: 16px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
}
#header-main #top-links nav ul #login-sign-up a:hover {
font-size: 16px;
font-weight: bold; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul #companies {
border-top: 6px solid #08A3A3;
float: left; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul #companies:hover {
border-top: 6px solid #08A3A3; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
#header-main #top-links nav ul #companies a {
color: #08A3A3; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
font-family: 'dinpro-regularregular';
font-size: 13px;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
}
#header-main #top-links nav ul #companies a:hover {
font-size: 13px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
font-weight: bold;
}
#header-main #logo {
float: left; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
text-align: center;
width: 100%;
}
#header-main #logo a {
}
#header-main #logo a img {
border: medium none; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}

/*Header Scroll Time Css Start*/

.scroll-header.shrink{ height:138px;}

.scroll-header.shrink #header-main{ float:left; width:100%;}

.scroll-header.shrink #header-main #top-links {
float: right;
width: auto;
}
.scroll-header.shrink #header-main #top-links nav {
}
.scroll-header.shrink #header-main #top-links nav ul {
position: relative;
top: -4px;
}
.scroll-header.shrink #header-main #top-links nav ul li {
float: left;
}
.scroll-header.shrink #header-main #top-links nav ul #login-sign-up {
border-top: 8px solid #ED1C24;
color: #ED1C24;
float: left;
}
.scroll-header.shrink #header-main #top-links nav ul #login-sign-up:hover {
border-top: 8px solid #ED1C24;
font-size: 16px;
font-weight: bold;
}
.scroll-header.shrink #header-main #top-links nav ul #login-sign-up:hover a {
font-size: 16px;
font-weight: bold;
}
.scroll-header.shrink #header-main #top-links nav ul #login-sign-up a {
color: #ED1C24;
font-family: 'dinpromedium';
font-size: 16px;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
}
.scroll-header.shrink #header-main #top-links nav ul #login-sign-up a:hover {
font-size: 16px;
font-weight: bold;
}
.scroll-header.shrink #header-main #top-links nav ul #companies {
border-top: 6px solid #08A3A3;
float: left;
}
.scroll-header.shrink #header-main #top-links nav ul #companies:hover {
border-top: 6px solid #08A3A3;
}
.scroll-header.shrink #header-main #top-links nav ul #companies a {
color: #08A3A3;
font-family: 'dinpro-regularregular';
font-size: 13px;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
}
.scroll-header.shrink #header-main #top-links nav ul #companies a:hover {
font-size: 13px;
font-weight: bold;
}
.scroll-header.shrink #header-main #logo {
float: left;
text-align: center;
width: 100%; top: -6px; position:relative;  -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
.scroll-header.shrink #header-main #logo a {
-webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}
.scroll-header.shrink #header-main #logo a img {
border: medium none; width:68px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;
}

/*Header Css End*/


/*Header Scroll Time Css End*/


#container-menu {
background: none repeat scroll 0 0 #F7F7F1;
box-shadow: 2px 2px 4px #888888;
float: left;
width: 100%;
}
#menu-and-search {
float: left;
width: 100%;
}
#page-menu {
float: left;
width: auto;
}
#page-menu nav {
float: left;
}
#page-menu nav ul {
}
#page-menu nav ul li {
float: left;
}
#page-menu nav ul li a {
color: #000000;
display: block;
float: left;
font-family: 'dinpro-regularregular';
font-size: 18px;
font-weight: normal;
padding: 16px 16px 12px;
text-decoration: none;
text-transform: uppercase;
}
#page-menu nav ul li a:hover {
background: url(../images/hover_menu.gif) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
font-weight: bold;
}
#page-menu nav ul li a.active {
background: url(../images/hover_menu.gif) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
font-weight: bold;
}
#search-part {
float: right;
padding-top: 22px;
width: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#search-part {
padding-top: 16px;
}
}

#search-part .search-field {
background: url(../images/text_box_bg.png) no-repeat scroll center bottom rgba(0, 0, 0, 0);
border: medium none;
height: 21px;
margin-right: 4px;
padding: 0 6px;
width: 206px;
}
.search-field {
background: url(../images/text_box_bg.png) no-repeat scroll center bottom rgba(0, 0, 0, 0);
border: medium none;
height: 21px;
margin-right: 4px;
padding: 0 6px;
width: 206px;
}
#search-part .search-icon {
background: url(../images/search-icon.png) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
-bracket-:hack(;
background: url(../images/search-icon.png) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
);
border: medium none;
cursor: pointer;
height: 21px; width:18px;
}

/*Silider Custom DIV Start*/

#container-slider {
margin-top: 320px;
float: left;
width: 100%;
}

#silider-start {
float: left;
width: 100%; border-left:1px solid #bcbec0; border-right:1px solid #bcbec0;
}

/*Silider Custom DIV End*/

/*Three Images With Content Start*/

#content-part{ float:left; width:100%;}
#three-images-link{ float:left; width:100%;}
#three-images-link ul{ border:1px solid #bcbec0; float:left; width:960px; background-color:#f0f0f0;}
#three-images-link ul li{ float:left; width: 318px; padding: 32px 0 74px; text-align:center; border-right:1px solid #bcbec0;
box-shadow:inset 4px 0px 10px -7px rgba(0,0,0,0.5); min-height: 225px;}
#three-images-link ul li img{ border:1px solid #444048;}
#three-images-link ul li.border-none{ border-right:none; padding: 32px 0 1px;}
#three-images-link ul li h2{font-family: 'dinprobold'; font-size: 22px; font-weight: bold; color:#000;}
#three-images-link ul li p{ padding: 0 49px; font-family: 'dinpro-regularregular'; font-size: 12px; font-weight: normal; color:#000;}

#three-images-link ul li #start-searching-now{font-family: 'dinpromedium'; margin:26px 0 12px 60px; font-size: 22px; font-weight:600; color:#000; border-top:6px solid #ed1c24; float:left; padding:0 0;}

/*Three Images With Content End*/

/*Company Logo Start*/

#company-logo{ float:left; width:100%;}
#company-logo-hd{ 
float:left; width:100%; background: none repeat scroll 0 0 #F7F7F1;
box-shadow: 0 8px 8px -8px #9F9F9A inset, 0 -8px 8px -10px #9F9F9A inset;
 border-right: 1px solid #BCBEC0; border-left: 1px solid #BCBEC0;
}

#company-logo-hd h3{font-family: 'dinprobold'; font-size: 30px; font-weight: bold; color: #000000; padding:10px 14px;}
#logo-images{ float:left; width:960px;  border:1px solid #bcbec0;}
#logo-images ul{ border-top:1px solid #bcbec0; float:left; width:100%;}
#logo-images ul li{ float:left; border-right:1px solid #bcbec0;}
#logo-images ul li.border-left-none{ border-left:none;}
#logo-images ul li.border-right-none{ border-right:none;}
#logo-images ul li img{ padding: 32px 28px; width:181px; height:137px;}

/*Company Logo End*/

/*Footer Start*/

#footer-full-width{ float:left; width:100%; border-top:4px solid #ed1c24; background-color:#f0f0f0; padding-bottom: 20px;}
footer{}
#footer-start{ float:left; width:100%; padding-top: 22px;}
#footer-link{ float:left; width:156px;}
#footer-link h4{font-family: 'dinprobold'; font-size: 13px; font-weight: bold; color:#000; margin:0; text-transform:uppercase;}
#footer-link ul{}
#footer-link ul li{}
#footer-link ul li a{ text-decoration:none; font-family: 'dinprolight'; font-size:13px; font-weight: normal; color:#000;}
#footer-link ul li a img{margin: 8px 4px 8px 0;}

#copyright{ float:left; width:100%;}
#copyright p{font-family: 'dinpro-regularregular'; font-size: 12px; font-weight: normal; color:#000; text-align:right; text-transform:uppercase;}
#copyright p span{font-family: 'dinpro-regularregular'; font-size: 12px; font-weight: normal; color:#000;}

/*Footer End*/




/* Job Search Style */
#job-box-listing {
	width: 960px;
	background: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#job-box-listing li {
	width: 238px;
	height: 230px;
	background: #f0f0f0;
	float: left;
	border: 1px solid #c0c2c3;
	position: relative;
	border-top: 5px solid #f0f0f0;
	z-index: 100;
}

#job-box-listing li:hover{
	border-top: 5px solid #d91a21;
	box-shadow: 0px 0px 18px #000;
	position: relative;
	z-index: 1000;
}

#job-box-listing li a {
	text-decoration: none;
}

.job-box-icon {
	position: absolute;
	left:0;
    right:0;
	bottom: 0;
	top: 0px;
    margin:auto;
}

.media-icon {
	width: 183px;
	height: 158px;
	background: url(../images/media-publishing.png) no-repeat;
}

.education-icon {
	width: 195px;
	height: 122px;
	background: url(../images/education.png) no-repeat;
}

.fashion-icon {
	width: 89px;
	height: 192px;
	background: url(../images/fashion.png) no-repeat;
}

.food_beverage-icon {
	width: 91px;
	height: 182px;
	background: url(../images/food-beverage.png) no-repeat;
}

.it-icon {
	width: 182px;
	height: 154px;
	background: url(../images/it.png) no-repeat;
}

.social-icon {
	width: 199px;
	height: 126px;
	background: url(../images/social.png) no-repeat;
}

.job-box-levels {
	text-align: right;
	font-size: 21px;
	padding-right: 10px;
	font-family: 'dinprolight';
	color: #000;
	text-transform: uppercase;
}

#job-box-desc
{
	width: 100%;
	position: absolute;
	top: 130px;
}

.job-box-company-name {
	text-align: left;
	font-size: 16px;
	padding-left: 10px;
	font-family: 'dinprobold';
	color: #ed1c24;
}

.job-box-job-title {
	text-align: left;
	width: 220px;
	font-size: 21px;
	text-transform: uppercase;
	padding-left: 10px;
	font-family: 'dinprobold';
	color: #000;
}

.job-search-form
{
	padding: 10px;

}

#filter-heading {
	width: 960px;
	height: 60px;
	background: url(../images/filter-heading-back.png) no-repeat #f0f0f0;
	
}

#filter-heading h2
{
	font-family: 'dinprobold';
	font-size: 26px;
	text-transform: uppercase;
	color: #fff;
	padding: 9px;
}

#job-search-panel {
	width: 960px;
	height: auto;
	background: #f0f0f0;
	-webkit-box-shadow: 0 8px 6px -6px #000;
       -moz-box-shadow: 0 8px 6px -6px #000;
            box-shadow: 0 8px 6px -6px #000;
	position: relative;
	z-index: 10000;
	margin-bottom: 0px;
	padding-bottom: 10px; float:left;
	
}

#job-search-panel h2
{
	font-family: 'dinpro-regularregular';
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
	padding: 9px;
}


.happySelectContainer {
    position: relative;
    border: 1px solid #000;
    background-color: #fff;
    display:inline-block;
	margin-right: 5px;
}
.happySelectContainer select {
    position: relative;
	font: 12px Arial, Helvetica, sans-serif normal;
    color:#000;
    height:auto;
    margin: 0;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow:'';
	min-width: 192px;
    background: transparent;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    appearance: none;
	padding: 2px;
}

.level-dropdown{}
.level-dropdown select{min-width: 130px;}

.happySelectContainer select::-ms-expand {
    display: none;
    /*for IE*/
}
.happySelectContainer .arrow {
    position: absolute;
    background: url(../images/select-arrow.png) no-repeat right;
    height: 9px;
    width: 11px;
    right: 5px;
	top: 7px;
}
:focus {
    outline: none;
}

.italic-search-text {
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 10px;
	font-style:italic;
	
}
.search-button{ background:url(../images/search-button.gif) no-repeat; float:right; border:none; margin-right: 22px; width: 108px; height:24px;}


#advanced-srch{ float:left; width:100%; padding:9px;}
#advanced-srch h2{ float:left; padding:0;}
#advanced-srch .happySelectContainer{ border:none; background:none; padding-left: 18px;}
#advanced-srch .happySelectContainer select{ min-width:-moz-fit-content; font-family: 'dinpro-regularregular'; font-size: 14px; font-weight: normal; color:#000;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#advanced-srch .happySelectContainer{padding-left:8px;}	
#advanced-srch .happySelectContainer select {
min-width:94px;
}
#advanced-srch .size{}
#advanced-srch .size select {
min-width:56px;
}
}

#test {width: 21px;}
