

/* Showcase
-------------*/

#awOnePageButton .view-slide
{
display: none;
}

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load
{
height: 441px; /* Same as showcase javascript option */
overflow: hidden;
}

/* Container when content is shown as one page */
.showcase-onepage
{
/**/
}

/* Container when content is shown in slider */
.showcase
{
/*position: absolute;*/
margin: auto;
z-index: -10;

}

.showcase-content-container
{
width:960px; float:left; 
position: absolute;
}

/* Navigation arrows */
.showcase-arrow-previous, .showcase-arrow-next
{
position: absolute;
/*background: url('../images/arrows.png');*/
width: 33px;
height: 33px;
top: 220px;
cursor: pointer;
}

.showcase-arrow-previous
{
left: 12px; z-index:999;
}

.showcase-arrow-previous:hover
{
background-position: 0px -34px;
}

.showcase-arrow-next
{
right: 12px; z-index:999;
background-position: -34px 0;
}

.showcase-arrow-next:hover
{
background-position: -34px -34px;
}

/* Content */
.showcase-content
{

text-align: center;

}

.showcase-content img{}

.showcase-content-wrapper
{
text-align: center;
height: 441px;
width: 960px;
display: table-cell;
vertical-align: middle;
}



/* Styling the caption */
.showcase-caption
{

background-color: #FFFFFF;
bottom: 0;
display: none;
left: 228px;
opacity: 0.74;
padding:48px 14px 28px;
position: absolute;
right: 10px;
width: 50%; line-height: 60px;
}

.use-only-job-search{
border-top:6px solid #cb272f;	
background-color: #FFFFFF;
bottom: 0;
display: none;
left:0px;
opacity: 0.74;
padding:0px 0px 58px;
position: absolute;
right: 10px;
width: 100%;}



.showcase-caption p{ color:#000; font-size:38px; font-family:'dinpro-regularregular'; line-height: 58px;}
.showcase-caption p a{ text-decoration:none; color:#000; font-size:38px; font-family:'dinprobold'; font-weight:bold; border-top:4px solid #ed1c24;}

.use-only-job-search p{ color:#000; font-size:38px; font-family:'dinprobold'; line-height: 58px; font-weight:bold; line-height: 58px;}
.use-only-job-search .italic-font{color:#000; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-style:italic; text-align:right;line-height: 22px;
    padding-right: 174px;}

.showcase-onepage .showcase-content
{
margin-bottom: 10px;
}

/* Button Wrapper */
.showcase-button-wrapper
{
clear: both;
float: right;
margin-top: 4px;
position: absolute;
right: 47%;
top: 726px;
}

.showcase-button-wrapper span
{
margin-right: 3px; background:#ededed;
padding: 2px 4px 0;
cursor: pointer;
font-size: 14px; font-family:Arial, Helvetica, sans-serif;
color: #ededed;
}

.showcase-button-wrapper span.active
{
color: #fff; font-size: 14px; font-family:Arial, Helvetica, sans-serif;  background:#fff;
}



/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear
{
clear: both;
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
float: none;
}


